<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/create" method="post">
            <input type="text" name="username" placeholder="Student name">
            <input type="number" name="rollNumber" placeholder="roll number">
            <input type="text" name="clgName" placeholder="clg">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <hr>
        <a href="/show">show</a>

    </main>
    
</body>
</html>