<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Document</title>

    <style>
        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        html {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        main {
            height: 100%;
            width: 100%;
            padding: 2rem;
        }

        .posts {

            display: flex;
            flex-wrap: wrap;
            gap: 1em;
        }

        .post img {
            width: 13em;
            height: 20em;
            object-fit: cover;
        }

        .post .top {
            display: flex;
            gap: 1em;
            align-items: center;
        }

        .post .top img {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
        }

    </style>
</head>
<body>

    <main>

        <section>

            <div class="posts">

                <% posts.forEach(post=>{ %>

                <div class="post">

                    <div class="top">
                        <img
                            src="<%= post.author.profileImage %>"
                            alt=""
                        >
                        <h1><%= post.author.username %></h1>
                    </div>

                    <img
                        src="<%= post.media %>"
                        alt=""
                    >

                    <p><%= post.caption %></p>
                </div>

                <% }) %>
            </div>

        </section>

    </main>

</body>
</html>