<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/create" method="post">
            <input type="text" name="Name" placeholder="user name">
            <input type="text" name="Email" placeholder="user email">
            <input type="text" name="Password" placeholder="password in number">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
    
</body>
</html>